---
// src/components/Mark.astro
---

<span class="mark"><slot /></span>

<style>
    .mark {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
        font-weight: bold;
    }
</style>
